<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team3webnovel.mappers.PwMapper">

    <select id="getPasswordByName" resultType="com.team3webnovel.vo.PwVo">
        SELECT pw_name AS pwName, pw_pw AS pwPw
        FROM pw
        WHERE pw_name = #{pwName}
    </select>

    <!-- 이메일로 사용자 비밀번호를 업데이트하는 쿼리 -->
    <update id="updatePasswordByEmail">
        UPDATE users
        SET password = #{newPassword}
        WHERE email = #{email}
    </update>


</mapper>
