@charset "UTF-8";

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center; /* 수평 중앙 배치 */
    align-items: center; /* 수직 중앙 배치 */
    height: 100vh; /* 뷰포트 전체 높이 사용 */
    background-color: #f7f7f7;
    padding: 20px;
}

.reset-password-container {
    max-width: 500px;
    margin-top: 50px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* 버튼과 텍스트가 중앙에 오도록 설정 */
}

.form-group {
    margin-bottom: 15px;
    width: 100%; /* 입력 필드의 너비를 100%로 설정 */
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: inline-block; /* 버튼을 inline-block으로 설정하여 text-align이 적용되도록 */
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.alert {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}
