body {
    background-color: #f0f0f0; /* 밝은 배경 */
    color: #333; /* 기본 텍스트 색상 어두운 회색 */
    font-family: Arial, sans-serif; /* 기본 글꼴 설정 */
}

.container {
    max-width: 900px; /* 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
    padding: 20px; /* 패딩 추가 */
}

h1 {
    font-size: 3rem; /* 제목 크기 */
    margin-bottom: 30px; /* 아래쪽 여백 */
    color: #333; /* 제목 색상 어두운 회색 */
}

h5 {
    margin-top: 30px; /* 위쪽 여백 */
    font-weight: bold; /* 볼드체 */
    color: #555; /* 중간 밝기 회색 */
}

.text-center {
    text-align: center; /* 텍스트 가운데 정렬 */
}

.music-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 30px; /* 아이템 사이의 간격 */
}

.music-item {
    background-color: #ffffff; /* 흰색 배경 */
    border-radius: 8px; /* 둥근 모서리 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 연한 그림자 효과 */
    padding: 20px; /* 패딩 추가 */
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 가운데 정렬 */
    margin-bottom: 30px; /* 아래쪽 여백 */
    flex-basis: 250px; /* 항목 너비를 고정 */
    flex-grow: 1; /* 반응형 확장 */
}

.music-item img {
    max-width: 150px; /* 이미지 최대 너비 설정 */
    height: 200px; /* 고정된 높이 */
    object-fit: cover; /* 이미지를 컨테이너에 맞게 조정 */
    border-radius: 5px; /* 이미지 둥글게 */
    margin-bottom: 15px; /* 이미지 아래쪽 여백 */
}

.music-item h2 {
    margin: 15px 0; /* 제목 여백 줄임 */
    font-size: 1.5rem; /* 제목 크기 확대 */
    color: #333; /* 제목 색상 어두운 회색 */
}

.music-item p {
    margin: 10px 0; /* 여백 줄임 */
    color: #555; /* 중간 밝기 회색 */
    line-height: 1.5; /* 줄 간격 조정 */
}

.music-item audio {
    width: 100%; /* 오디오 플레이어 너비 100% */
    margin-top: 15px; /* 오디오 플레이어 상단 여백 */
}

.btn {
    background-color: #007bff; /* 버튼 색상 파란색 */
    color: white; /* 버튼 텍스트 색상 */
    padding: 10px 20px; /* 패딩 추가 */
    border-radius: 5px; /* 둥근 모서리 */
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 포인터 커서 */
    transition: background-color 0.3s; /* 호버 효과 부드럽게 전환 */
}

.btn:hover {
    background-color: #0056b3; /* 호버 시 버튼 색상 */
}

/* 가사 스크롤 */
.lyric-content {
    max-height: 200px; /* 최대 높이 설정 */
    overflow-y: auto; /* 수직 스크롤 가능 */
    color: #555; /* 가사 색상 */
    line-height: 1.5; /* 줄 간격 조정 */
    margin-top: 10px; /* 제목과 가사 간격 */
}

/* 재생 버튼 스타일 */
.play-button {
    background: none; /* 배경 없음 */
    border: none; /* 테두리 없음 */
    color: #007bff; /* 파란색 */
    font-size: 2.5rem; /* 폰트 크기 확대 */
    cursor: pointer; /* 포인터 커서 */
    margin: 15px 0; /* 위아래 여백 */
}

.playing {
    border: 2px solid #007bff; /* 재생 중인 아이템 강조 */
}
